@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.content {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 96px;

    @include respond-sm {
        gap: 48px;
    }
}