@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.actions {
    @include text-lg;
    margin: auto 0 0;
    display: flex;
    justify-content: flex-end;
}

.next {
    margin-bottom: 52px;
    display: flex;
    align-items: center;

    &Icon {
        color: $color-primary;
        margin-left: 8px;
        margin-top: -6px;
        font-size: 40px;
    }
}

.restart {
    @include flex-center;
    margin-bottom: 48px;
    max-width: 330px;
    width: 100%;
    min-height: 96px;
    border: 2px solid $color-black-de;

    &Icon {
        margin-left: 8px;
        margin-top: -6px;
        font-size: 40px;
    }
}

.text {
    font-weight: bold;
}