@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.main {
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: min(144px, 13.333vh);

    @include respond-sm {
        gap: 60px;
    }

    &Content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        gap: min(96px, 8.889vh);
    }
}

.progress {
    max-width: 768px;
    width: 100%;
    margin: 48px auto 0;
    display: flex;

    &Text {
        font: italic normal normal 24px/24px "PT Sans";
        color: $color-black-98;
        margin-left: auto;
    }
}