@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.container {
    background-color: $color-white;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.bg {
    min-height: min(540px, 50vh);
    background-position: center;
    background-repeat: no-repeat;
}

.inner {
    padding: 96px 12px;
    min-height: min(540px, 50vh);

    @include respond-sm {
        padding: 48px 12px;
    }
}

.content {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 96px;

    @include respond-sm {
        gap: 48px;
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    @include respond-sm {
        flex-direction: column;
        align-items: center;
    }

    &Main {
        @include heading-xxl;
        max-width: 440px;
        width: 100%;

        @include respond-sm {
            max-width: none;
        }
    }

    &Sub {
        @include text-md;
        max-width: 280px;
        width: 100%;
        margin-top: auto;

        @include respond-sm {
            max-width: none;
        }
    }
}

.description {
    @include flex-center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 810px;
    width: 100%;
    margin-left: auto;
    margin-top: auto;

    &Text {
        @include text-base;
        max-width: 450px;

        @include respond-sm {
            max-width: none;
        }
    }
}

.startButton {
    @include flex-center;
    max-width: 330px;
    width: 100%;
    height: 96px;
    background-color: $color-primary;
    gap: 8px;

    &Text {
        @include text-lg-bold($color: $color-white);
    }

    &Icon {
        color: $color-white;
        font-size: 40px;
    }
}