@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.navbar {
    @include text-base($color: $color-white);
    display: flex;
    gap: 48px;
    min-height: 24px;

    @include respond-sm {
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }

    >button {
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
        color: $color-white;
        transition: color 0.2s, transform 0.1s;

        &:hover {
            font-weight: bold;
        }

        &:active {
            transform: scale(0.97);
        }

        &[aria-current="true"] {
            font-weight: bold;
            box-shadow: 0 4px 0 0 $color-primary;
            cursor: default;

            &:active {
                transform: none;
            }
        }
    }
}