@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.bg {
    min-height: min(540px, 50vh);
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-black-98;
}