@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/typography" as *;

.container {
    background-color: $color-white;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.inner {
    padding: 96px 12px;
    min-height: min(540px, 50vh);

    @include respond-sm {
        padding: 48px 12px;
    }
}