// _variables.scss

// Colors/
$color-white: #ffffff;
$color-black-87: #000000de;
$color-black-60: #00000098;
$color-black-38: #00000060;
$color-primary: #4f61ff;
$color-gray: #707070;
$color-bg-light: #fcf9f5;


// Typography
$font-family-base: "Noto Sans CJK TC", sans-serif;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 48px;
$font-size-xxl: 64px;

$line-height-sm: 24px;
$line-height-md: 36px;
$line-height-lg: 48px;
$line-height-xl: 72px;
$line-height-xxl: 96px;