// global.scss
@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

@import 'modern-css-reset';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
}