@use "../../../assets/styles/variables" as *;
@use "../../../assets/styles/mixins" as *;
@use "../../../assets/styles/typography" as *;

.nextButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 96px;
    background-color: $color-primary;
    gap: 8px;
    padding-right: 24px;

    @include interactive-button($color-primary);

    @include respond-sm {
        justify-content: center;
        padding-right: 0;
    }

    &Text {
        @include text-lg-bold($color: $color-white);
    }

    &Icon {
        margin-top: -4px;
        height: 48px;
    }
}